<div class="container">
    <div class="row">
        <hr>
        <h1>Meet Our Travellers</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="user3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TravelLover99</h5>
                  <p class="card-text">This website made planning my vacation so much easier! The itinerary suggestions were spot-on, and I discovered hidden gems I never would've found on my own.</p>
                  
                </div>
              </div>            
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="user1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">WanderlustDreamer</h5>
                  <p class="card-text">The AI recommendations were incredible! I was able to save hours of research and felt confident in all my plans. Highly recommend it to all travelers</p>
                  
                </div>
              </div>
            
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="user2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">AdventureSeeker</h5>
                  <p class="card-text">"I loved how personalized the recommendations were! It felt like the site really understood my travel style. Can't wait to plan my next trip!</p>
                  
                </div>
              </div>
            
        </div>
</div>


  