<div class="container">

    <div class="row" data-aos="fade-flip" >
        <h1 class="text-center">Popular Destinations</h1>
    </div>
    

    <div class="row justify-content-center">
        
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <img src="kandy.jpg" class="card-img-top" alt="Kandy">
                <div class="card-body">
                    <h5 class="card-title">Kandy</h5>
                    <p class="card-text">Explore the historical city of Kandy, home to the Temple of the Tooth Relic and surrounded by lush hills and tea plantations.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card">
                <img src="Lotus-Tower-2.jpg" class="card-img-top" alt="Lotus Tower">
                <div class="card-body">
                    <h5 class="card-title">Lotus Tower</h5>
                    <p class="card-text">Visit the Lotus Tower, an architectural marvel offering panoramic views of Colombo and beyond.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card">
                <img src="ninearch.jpg" class="card-img-top" alt="Ella">
                <div class="card-body">
                    <h5 class="card-title">Ella</h5>
                    <p class="card-text">Discover the scenic beauty of Ella, known for the iconic Nine Arches Bridge and rolling green hills.</p>
                </div>
            </div>
        </div>

    </div>

</div>


